<link rel="stylesheet" href="/css/aboutus.css">
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>About Us</li>
</ul>
<div class="about_us">
  <div class="about-us-container">
    <div class="about-us-section">
      <h2>About Us</h2>
      <p>
        We are a digital health & wellness platform healing lifestyle disorders globally
        through a combination of science and tradition. We offer live yoga classes, yoga
        therapy programs, diet & nutrition consultations & plans, and ayurveda solutions
        in 8 countries including the US, Singapore, UAE and the UK. Our solutions are delivered
        by our carefully curated team of top 1% of yoga instructors, nutritionists and wellness
        experts from across the world.
      </p>
    </div>

    <div class="mission-vision-section">
      <h2>Our Mission and Vision</h2>
      <p>
        We are helping people be healthier, happier and the best version of themselves through
        scientifically proven, traditionally rooted yogic solutions, reversing chronic health
        conditions in the most natural way.
      </p>
    </div>
  </div>



  <section id="ig" class="founder-sec">
    <div class="team-section">
      <h1 class="founder-head">Meet our founders!!</h1>
      <span class="border"></span>
      <div class="ps">
        <div class="tooltip"> <a href="#ig" onclick="display1()"><img src="/img/person1.jpeg" alt="founder1"></a> <span
            class="tooltiptext">Click here!</span> </div>
        <div class="tooltip"> <a href="#ig" onclick="display2()"><img src="/img/person2.jpeg" alt="founder1"></a> <span
            class="tooltiptext">Click here!</span> </div>
        <div class="tooltip"> <a href="#ig" onclick="display3()"><img src="/img/person3.jpeg" alt="founder1"></a> <span
            class="tooltiptext">Click here!</span> </div>
      </div>

      <div class="section found1" id="p1">
        <span class="name">Founder 01</span>
        <span class="border"></span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>


      <div class="section found2" id="p2">
        <span class="name">Founder 02</span>
        <span class="border"></span>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>


      <div class="section found3" id="p3">
        <span class="name">Founder 03</span>
        <span class="border"></span>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla quat dolore eu
          fugiat nulla quat dolore eu fugiat nulla quat dolore eu fugiat nulla quat.
        </p>
      </div>

    </div>
  </section>

</div>
<script src="/js/aboutUs.js"></script>