* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about_us {
  box-sizing: border-box;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
  background-color: rgb(216, 241, 222);
  position: relative;
  font-weight: 700;
  color: #222222;
  line-height: 1.3;
  margin-bottom: 1em;
}
.about_us section {
  margin-bottom: 100px;
}
.about_us h1 {
  color: #222222;
  font-size: 2em;
}
.about-us-container {
  margin-top: 6em;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}

.about-us-section {
  margin-left: 18%;
  margin-right: 18%;
  padding: 50px 20px;
  align-items: center;
  background-color: #9ad7b1;
}

.about-us-section p {
  max-width: 725px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
}

.mission-vision-section {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 50px;
  padding: 50px 20px;
  align-items: center;
  background-color: #9ad7b1;
}

.mission-vision-section p {
  max-width: 725px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  margin-top: 1 em;
}

.founder-sec {
  margin-top: 0;
  padding: 0;
}

.team-section {
  overflow: hidden;
  text-align: center;
  background: none;
  padding: 60px;
}

.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 100px;
  color: rgb(18, 83, 6);
  font-size: 40px;
}

.border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: rgb(18, 83, 6);
  margin-bottom: 40px;
}

.ps {
  margin-bottom: 40px;
}

.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 100px;
}

.ps a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.ps a:hover > img {
  filter: none;
}

.section {
  min-width: 50%;
  margin-right: 18px;
  margin-left: 18px;
  font-size: 20px;
  text-align: center;
  height: 0;
  overflow: hidden;
}

.section:target {
  height: auto;
}

.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.disB {
  display: block;
  height: auto;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(12, 56, 4);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media (max-width: 950px) {
  h1 {
    font-size: 32px;
    display: block;
  }
}
